<div class="best-bordered-list">
  <best-alert [showAlert]="showAlert" [alertMessage]="alertMessage" [alertType]="alertType"></best-alert>
  <div class="row mb-2" *ngFor="let book of books; index as i">
    <ng-container *ngIf="isEditState(book.id); else viewState">
      <div class="col best-width-50">{{i + 1}}</div>
      <div class="col-2">
        <input [(ngModel)]="book.name" class="form-control" required>
      </div>
      <div class="col-2">
        <input [(ngModel)]="book.author" class="form-control" required>
      </div>
      <div class="col best-width-100">
        <input [(ngModel)]="book.year" class="form-control" required>
      </div>
      <div class="col">
        <input [(ngModel)]="book.addedAt" class="form-control" required>
      </div>
      <div class="col-3">
        <textarea class="form-control" rows="3" [(ngModel)]="book.review"></textarea>
      </div>
      <div class="col">
        <div class="row">
          <button type="button" class="btn btn-primary" (click)="updateBook(book)">Update</button>
        </div>
      </div>
    </ng-container>

    <ng-template #viewState>
      <div class="col best-width-50">{{i + 1}}</div>
      <div class="col-2">{{book.name}}</div>
      <div class="col-2">{{book.author}}</div>
      <div class="col best-width-100">{{book.year}}</div>
      <div class="col">{{book.addedAt}}</div>
      <div class="col-3">{{book.review}}</div>
      <div class="col-2">
        <div class="row">
          <button type="button" class="btn btn-info" (click)="editBook(book.id)">Edit</button>
          <button type="button" class="btn btn-danger" (click)="deleteBook(book.id)">Delete</button>
        </div>
      </div>
    </ng-template>

  </div>
</div>
